{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel='stylesheet' href="{% static 'main.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="main">

        <div id="header">
            <img src="{% static 'main2.png' %}" alt='혼팅포차'/>
        </div>

        <div id="article">
            <img id='beautifultext' src="{% static 'beautifultext.png' %}" />

            <div id="contents_webcam">
                
                <div id="webcam">
                    <div class='large'>
                        <img class='large' src="{% url 'camera_feed' %}" alt='내 화상 캠'/>
                    </div>
                    <div class='small'>
                        <img class='small' src="{% url 'han_camera_feed' %}" alt='입장 대기중'/>
                        <img class='small' src="{% url 'webcam_feed' %}" alt='입장 대기중'/>
                    </div>
                </div>
                
                <div id="game">
                    <div><a href={% url 'poker_start' %}>인디언 포커</a></div>
                    <div><a href={% url 'poker_open' %}>카드 공개</a></div>
                    <div><a href={% url 'han_onoff' %}>한가인</a></div>
                </div>
            </div>
        </div>
        <div id="footer">
            <a href='{% url 'cook' %}' target="_blank"><img id='button' src="{% static 'button.png' %}"/></a>
        </div>

    </div>

</body>
</html>